body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

a {
    font-size: 18px;
}

input:hover, input:focus {
    border-color: wheat !important;
}

button:hover, button:active {
    border-color: wheat !important;
    background-color: wheat;
    color: black !important;
}

.wrapper {
    width: 100%;
}

/*Banner CSS start*/
.header {
    height: auto !important;
    background-image: url('/public/beer-banner.jpeg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-color: grey !important;
    background-blend-mode: multiply;
}

.header-title {
    font-size: 2.7em;
    text-align: center;
    line-height: 3.3em;
    font-family: cursive;
    color: white;
}
/*Banner CSS end*/

/*BeerList CSS start*/
.beer-list {
    margin-top: 30px;
    margin-bottom: 10px;
}

.beer-card {
    width: 95%;
    height: 100%;
    margin: 0px auto;
}

.beer-card-cover {
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
}

.beer-card-cover img {
    display: inline-block;
    height: 100%;
}

.card-meta {
    text-align: center;
}

.loadmore-button-wrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
/*BeerList CSS end*/

/*SearchingBox CSS start*/
.searching-input-wrapper {
    margin: 20px 0;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: flex-end;
}

.searching-input-wrapper h4 {
    line-height: 30px;
    font-size: 16px;
}

.abv-input {
    width: 100px;
}

.month-input {
    width: 160px;
}

.search-button {
    width: 160px;
}

@media (max-width: 992px) {
    .searching-input-wrapper{
        width: 100%;
        padding-left: 30px;
    }
}
/*SearchingBox CSS end*/

/*BeerDetail CSS start*/
.goback-btn {
    width: 140px;
    margin: 20px 0 0 20px;
}

.image-holder {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 15%;
    text-align: center;
}

.image-holder img{
    height: 100%;
}

.text-holder {
    width: 100%;
    padding-top: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

.text-holder h1 {
    font-size: 33px;
    line-height: 67px;
}

.text-holder span {
    font-size: 20px;
    font-weight: 700;
}

.text-holder p {
    text-align: justify;
}

.suggested-beers-title {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 33px;
    line-height: 67px;
}

.suggested-beers {
    margin-bottom: 40px;
}

/*BeerDetail CSS end*/

/*footer CSS start*/
.footer {
    background-color: wheat !important;
    text-align: center;
}
/*footer CSS end*/
